/* Universal */
:root {
  --first-color: #8673A1;
  --second-color: #5D9B9B;
  --grey-color: #2F353B;
  --background-color: #FEFBFE;
  --text-color: #001021;
  --text-font: "League Spartan", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: var(--grey-color);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background-color: var(--first-color); /* Change this color as needed */
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.hero-banner {
  text-align: center;
  background-color: #fff;
}

.hero-banner img {
  border-radius: 50%;
  margin-top: 20px; /* Adjust the spacing as needed */
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
}

.about-me {
  display: flex;
  align-items: center;
  padding: 20px;
}

.about-me .title {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

.about-me p {
  width: 70%;
  border-left: 2px solid #333;
  padding-left: 20px;
}

.portfolio {
  padding: 20px;
  display: flex;
  align-items: center;
}

.portfolio .title {
  width: 30%;
  text-align: left; /* Align the title to the left */
  padding-right: 20px;
}

.portfolio .portfolio__container {
  width: 70%;
  border-left: 2px solid #333;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio__img {
  width: calc(50% - 10px);
  height: 200px; /* Adjust the height as needed */
  position: relative;
}

.portfolio__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #333;
}

.portfolio__link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--second-color);
  padding: 10px;
  text-align: center;
}

.portfolio__link a {
  color: white;
  text-decoration: none;
}

.contact {
  display: flex;
  align-items: center;
  padding: 20px;
}

.contact h2 {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

.contact ul {
  width: 70%;
  border-left: 2px solid #333;
  padding-left: 20px;
}

.contact ul li {
  margin-bottom: 10px;
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .main-box {
    min-width: 300px;
    min-height: 300px
  }
  .box {
    flex-basis: 15em;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .main-box {
    min-width: 300px;
    min-height: 300px
  }
  .box {
    flex-basis: 18em;
  }
}
